@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

main {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 3fr 5fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  gap: 2px;
  background-color: rgba(16, 20, 31, 255);
  font-family: "SUSE", sans-serif;
  overflow-x: hidden;
}

main ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

main ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

/*form*/
.searchForm {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 90vw;
  padding-top: 20px;
  height: 5%;
  gap: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: white;
}

.searchForm img {
  padding-right: 10px;
}

.searchForm input {
  width: 80%;
  background-color: rgba(16, 20, 31, 255);
  border: none;
  color: white;
}

/*NavBar*/
.navBar {
  display: flex;
  flex-direction: column;
  width: 8vw;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/4;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 20px 0px;
  border-radius: 20px;
  background-color: rgba(22, 29, 47, 255);
}

.navBar .navImage {}

.navBar .navList {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  top: 120px;
}

.navBar img {
  width: 30px;
}
.navBar .navList li{
  cursor: pointer;
}
/*Trending component*/
.trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 90vw;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

.trending::-webkit-scrollbar {
  display: none;
}

.trending .trendingTitle {
  font-size: 25px;
  color: white;
}

.trending .trendingList {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.trending .trendingList .trendingMovie {
  min-width: 360px;
  height: 230px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.trending .trendingList .trendingMovie .bannerMovie {
  z-index: 0;
  object-fit: cover;
  object-position: 100% 0%;
  width: 100%;
  height: 80%;
  position: absolute;
  border-radius: 10px;
  top: 0;
  mask-image: linear-gradient(black 90%,
      transparent);
}

.trending .trendingList .trendingMovie .bookMarkMovie {
  position: absolute;
  width: 25px;
  fill: #778899 !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 3px;
  top: 10px;
  right: 10px;
}

.trending .trendingList .trendingMovie .infoMovie {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 13px;
  align-items: center;
  color: white;
}

.trending .trendingList .trendingMovie .titleMovie {
  font-size: 15px;
  color: white;
}

/*Recommend component*/
.recommend {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 20, 31, 255);
  grid-column: 2/3;
  grid-row: 3/4;
  overflow-y: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px 0px 0px;
}

.recommend h2 {
  font-size: 25px;
  color: white;
}

.recommend ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.recommend ul li {
  width: 310px;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.recommend ul li .bannerMovie {
  z-index: 0;
  object-fit: cover;
  object-position: 100% 0%;
  width: 100%;
  height: 80%;
  position: absolute;
  border-radius: 10px;
  top: 0;

  mask-image: linear-gradient(black 90%,
      transparent);
}

.recommend ul li .bookMarkMovie {
  position: absolute;
  width: 25px;
  fill: #778899 !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 3px;
  top: 10px;
  right: 10px;
}

.recommend ul li .infoMovie {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 13px;
  align-items: center;
  color: white;
}

.recommend ul li .titleMovie {
  font-size: 15px;
  color: white;
}