* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  gap: 2px;
}

section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
section ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


/*Trending component*/
.trending{
  display: flex;
  width: 40vw;
  height: 100vh;
}
.trending ul{
  display: flex;
  flex-direction: row;
}
.trending ul li{
  width: 20vw;
}
.trending ul li img{
  width: 100px;
}